.lookupContainer {
    display: flex;
    padding-top: 80px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 15% 0 15%;
    font-family: "KB_medium_font";
}

.lookupBox {
    display: flex;
    gap: 50px;
}

.informBox {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: #F5F5F5;
    border-radius: 20px;
    // justify-content: space-between;
}

.listBox {
    width: 500px;
    height: 500px;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.informHeadBox {
    padding: 30px;
    font-size: 32px;
    border-bottom: 3px solid white;
}

.informSelectBox {
    margin-top: 30px;
}

.informSelectBox select {
    padding: 30px;
    background-color: #F5F5F5;
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
    width: 100%;
    font-size: 27px;
    border: none;
    font-family: "KB_medium_font";
    padding: 5px;
}

.informMoneyBox {
    display: flex;
    padding: 30px;
    text-align: end;
    font-size: 32px;
    justify-content: flex-end;
    gap: 20px;
}

.informPossibleBox {
    justify-content: center;
    display: flex;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    gap: 20px
}

.informPossibleBoxDiv {
    display: flex;
    gap: 20px;
}

.informButton {
    display: flex;
    padding: 30px;
    justify-content: center;
}

.informButton button {
    justify-content: center;
    border-radius: 18px;
    width: 175px;
    height: 50px;
    text-align: center;
    border: none;
    color: white;
    background-color: #F8BA1F;
    font-family: "KB_medium_font";
    font-size: 23px;
    border-radius: 15px;
}

.listHeadBox {
    display: flex;
    flex-direction: row;
    padding: 30px;
    font-size: 32px;
    justify-content: space-between;
    border-bottom: 3px solid white;
}

.listHead {
    width: 150px;
}

.listDetailBox {
    height: 408px;
    padding: 0px 30px 30px 30px;
    overflow: hidden;
    overflow-y: scroll;
    font-size: 25px;
}

.listBox::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.listDetailBox::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.listDetailSubBox {
    height: 170px;
}

.listDetailDate {
    padding: 40px 10px 0px 10px;
    font-size: 22px;
}

// .listDetailClock {
//     font-size: 22px;
// }

.listDetailSummury {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 30px;
    line-height: 100%;
}

.listDetailTransfer {
    float: right;
    display: flex;
    color: blue;
    font-size: 25px;
    gap: 20px;
}

.listDetailBalance {
    padding: 0px 10px;
    float: right;
    display: flex;
    font-size: 23px;
    text-align: center;
    gap: 20px;
}
