.container {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 270px 110px 170px;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.mainBannerContainer {
    display: flex;
    width: 540px;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.mainBannerButtonContainer {
    display: flex;
    position: absolute;
    margin-top: 220px;
    margin-left: 40px;
    gap: 20px;
}

.mainBannerButtonContainer :first-child {
    background-color: Transparent;
    border:none;
    border-top: 3px solid #000; /* 선 두께 */
    border-right: 3px solid #000; /* 선 두께 */
    transform: rotate(225deg); /* 각도 */
    width: 15px;
    height: 15px;
}

.mainBannerButtonContainer :nth-child(2) {
    background-color: Transparent;
    border:none;
    border-top: 3px solid #000; /* 선 두께 */
    border-right: 3px solid #000; /* 선 두께 */
    transform: rotate(45deg); /* 각도 */
    width: 15px;
    height: 15px;
}

.mainBannerInner {
    display: flex;
}

.mainBox {
    width: 100%;
    height: 270px;
}

.newsContainer {
    display: flex;
    font-family: "KB_medium_font";
    grid-column-start: 3;
    grid-column-end: 5;
}

.newsBox {
    height: 250px;
    align-items: center;   
}

.newsBox div {
    padding: 5px;
    font-size: 13px;
}

.newsBox :first-child {
    color: rgb(78, 78, 241);
    font-size: 15px;
}
.newsBox div :first-child {
    color: black;
}

.newsBox div div {
    display: flex;
    color: #848484;
    font-size: 13px;
    line-height:19px
}
.newsBox div div div {
    flex-direction: column;
}

.newsBox :nth-child(3) {
    margin-top: 10px;
}

.newContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    font-family: "KB_medium_font";
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 25px 0 25px;
}

.eventContainer {
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    font-family: "KB_medium_font";
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px 25px 0 25px;
}
.preventContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    font-family: "KB_medium_font";
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px 25px 0 25px;
}

.bohoContainer {
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    font-family: "KB_medium_font";
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px 25px 0 25px;
}
.box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 12px;
    color: #848484;

}

.box :nth-child(2) {
    padding-left: 20px;
}

.left {
    font-size: 18px;
}

.left div {
    padding-bottom: 20px;
}

.left :nth-child(2) {
    text-align: center;
    font-size: 12px;
    color: #848484;
}