.container {
    display: flex;
    justify-content: center;
}

.mainContainer {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 200px 200px 200px 200px;
    place-items: center;
    grid-gap: 40px;
    
}

.mainBox {
    grid-column: 1;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
}

.news {
    width: 100px;
    grid-column: 1;
    grid-row: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    font-family: "KB_medium_font";
}

.new {
    width: 100px;
    grid-column: 3;
    grid-row: 2;
    font-family: "KB_medium_font";
}

.event {
    width: 100px;
    grid-column: 3;
    grid-row: 3;
    font-family: "KB_medium_font";
}