.accountCreateModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0; left: 0; bottom: 0; right: 0;
    background: rgba(0, 0, 0, 0.6);
    font-family: "KB_medium_font";
}

.accountCreateModalBox {
    background-color: white;
    display: flex;
    position: fixed;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
    height: 200px;
    width: 350px;
    border: 2px solid #FFCE0A;
    flex-direction: column;
    font-size: 25px;
}

.accountCreateModalButton {
    display: flex;
    gap: 20px;
}

.accountCreateModalButton button {
    text-align: center;
    border: none;
    color: white;
    background-color: #F8BA1F;
    justify-content: center;
    font-family: "KB_medium_font";
    font-size: 23px;
    border-radius: 15px;
    width: 80px;
    outline: none;
    border: 0;
    animation: Modal-show 0.3s;
    
}