.SelfHeadContainer {
    font-size: 25px;
    font-family: "KB_medium_font";
    text-align: center;
}

.videoContainer {
    justify-content: center;
}

.videoContainer {
    display: flex;
    height: 500px;
    justify-content: center;
}
