.createContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    column-gap: 60px;
}

.circleContainer {
    display: flex;
    flex-direction: column;
    width: 100px;
    row-gap: 20px;
}

.circle {
    width: 85px;
    height: 85px;
    padding: 22px;
    margin: 0 auto;
    background-color: #D9D9D9;
    border-radius: 50%;
    font-size: 22px;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: "KB_medium_font";
}

.circleContainer :first-child {
    background-color: #7D756B;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    text-align: center;
}