:root {
    --border: 2px solid #b4b4b4;
}

.footerContainer {
    border-top : 1px solid rgba(0, 0, 0, 0.1);;
    background-color: white;
    padding: 10px 80px 10px 80px;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    color: black;
    font-family: "KB_medium_font";
    flex-direction: column;
}

.footerGrid {
    display: grid;
    grid-template-columns: 90px 90px 90px 110px 100px 100px 100px 130px 90px ;
	grid-template-rows: 25px 25px;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: 100;
    color: #868686;
}

.footerGrid :nth-child(n+1):nth-child(-n+11) {
    border-right: var(--border);
}

.footerGrid :nth-child(10) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.footerGrid :nth-child(n+5):nth-child(-n+9){
    color: black;
}

.footerSecondGrid {
    display: grid;
    margin-top: 25px;
    height: 50px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 200px 220px 250px 200px;
    grid-template-rows: 25px 25px;
    grid-column-gap: 5px;
    font-size: 14px;
    color: #868686;
}

.footerSecondGrid :nth-child(n+1):nth-child(-n+4) {
    border: var(--border);
    padding: 10px;
}

.footerLogo {
    justify-content: center;
    align-items: center;
    text-align: center;
}