.transferContainer {
    display: flex;
    padding-top: 80px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 15% 0 15%;
    font-family: "KB_medium_font";
}

.transferBox {
    display: flex;
    gap: 50px;
}

.transferInforHeadBox select {
    margin: 10px 0;
    width: 100%;
    font-size: 27px;
    border: none;
    border-bottom: 1px solid #848484;
    font-family: "KB_medium_font";
    padding: 5px;
}

.transferInformBox {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.transfer {
    width: 500px;
    height: 500px;
}

.transferInforHeadBox {
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 30px;
    font-size: 32px;
}

.transferInforHeadBox select {
    background-color: #F5F5F5;
    border: none;
}

.transferInformMoneyBox {
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 30px;
    text-align: end;
    font-size: 40px;
    margin-top: 15px;
    height: 261px;
    line-height: 200px;
}

.transferInformPossibleBox {
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    font-size: 23px;
    margin-top: 15px;
}

.transferRecentBox {
    background-color: #F5F5F5;
    border-radius: 20px;
}

.transferRecentHead {
    padding: 30px;
    font-size: 32px;
    border-bottom: 3px solid white;
}

.transferRecentContainer {
    height: 238px;
    overflow-y: scroll;
}

.transferRecentList {
    border-bottom: 3px solid white;
    cursor: pointer;
}

// .transferRecentListDate {
//     font-size: 25px;
//     padding: 10px 30px;
// }

// .transferRecentListTime {
//     font-size: 20px;
//     padding: 10px 30px;
// }

.transferRecentListBox {
    display: flex;
    flex-direction: row;
    line-height: 100%;
    justify-content: space-between;
    padding: 20px 30px;
}

.transferRecentListName {
    font-size: 27px;

}

.transferRecentListAmount {
    display: flex;
    gap: 20px;
    color: blue;
    font-size: 23px;
}

// .transferRecentListBalance {
//     display: flex;
//     gap: 20px;
//     font-size: 23px;
//     padding: 10px 30px;
//     text-align: center;
// }

.opponentAcoount {
    height: 70px;
    display: flex;
    border-radius: 20px;
    margin-top: 15px;
    padding: 10px 30px;
    background-color: #F5F5F5;
    justify-content: space-between;
    text-align: end;
}

.opponentAcoount :first-child {
    width: 35%;
}

.opponentAcoount :last-child {
    width: 50%;
}

.opponentAcoount select, .opponentAcoount input {
    height: 100%;
    font-size: 23px;
    border: none;
    background-color: #F5F5F5;
    align-items: center;
    font-family: "KB_medium_font";
}

.transferAmountBox {
    display: flex;
    height: 70px;
    background-color: #F5F5F5;
    padding: 10px 30px;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
    border-radius: 20px;
}

.transferAmount {
    display: flex;
    align-items: center;
    font-size: 23px;
    line-height: 100%;
    gap: 20px;
}

.transferAmount input {
    background-color: #F5F5F5;
    height: 40px;
    width: 200px;
    font-size: 20px;
    border: none;
    text-align: end;
}

.transferAmountBox button {
    width: 100px;
    height: 50px;
    text-align: center;
    border: none;
    color: white;
    background-color: #F8BA1F;
    justify-content: flex-end;
    font-family: "KB_medium_font";
    font-size: 23px;
    border-radius: 15px;
}
