.header {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 2px solid rgba(0,0,0,0.3);
    flex-direction: row;
}

.mainLogo {
    width: 212px;
    height: 89px;
}

.navHeader {
    gap: 2%;
    display: flex;
    width: 65%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    align-self : center;
    font-size: 19px;
    color: black;
    font-family: "KB_medium_font";
    gap: 20px;

}

.nav {
    display: flex;
    height: 92.5px;
    width: 60%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 5px;

}

.navTab {
    width: 17%;
    height: 70px;
    font-size: 19px;
    text-align: center;
    line-height: 70px;
    font-family: "KB_medium_font";
    border-radius: 20px;
    color: black;
}

.loginTab {
    width: 10%;
    height: 70px;
    font-size: 19px;
    text-align: center;
    line-height: 70px;
    font-family: "KB_medium_font";
    border-radius: 20px;
    color: black;
}


.navTab:hover , .loginTab:hover{
    transition : ease-in 0.2s;
    color: white;
    background-color:#F8BA1F;

}

.active {
    background-color: #F8BA1F;
    color: white;
}