.react-datepicker {
    font-family: "KB_medium_font";
}

.react-datepicker__input-container input {
    display: flex;
    font-family: "KB_medium_font";
    background-color: #F8BA1F;
    border: none;
    width: 250px;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.react-datepicker__day--selected {
    background-color: #F8BA1F;
}

.react-datepicker__day--outside-month {
    color: #bbbbbb;
}